@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=League+Spartan:wght@700&display=swap');

* {
  margin: 20;
  padding: 20;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 16px;
  background: linear-gradient(253deg, #000 7.51%, #020018 101.85%);
  width: 100%;
  height: 100vh;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.cabecalho-imagem {
  height: 48px;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}

.conteudo {
  margin-bottom: 50px;
  border-top: 0.4px solid #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.conteudo-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 100%;
}

.conteudo-principal-escrito-titulo {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
}

.conteudo-principal-imagem-descricao {
  width: 100%;
  height: auto;
  max-width: 670px;
  margin: 0 auto;
}

.conteudo-principal-imagem {
  height: 400px;
}

.conteudo-terceario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.conteudo-terceario-escrito-titulo {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
}

.conteudo-terceario-escrito-subtitulo {
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.conteudo-terceario-imagem-qrcode {
  height: 30px;
  margin: 0 auto;
}

.rodape {
  padding: 32px;
  border-top: 0.4px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rodape-imagem {
  height: 32px;
  display: block;
  margin: 0 auto;
}
